{
  "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "node": true,
      "es6": true,
      "mocha": true
    },
    "rules": {
      "no-console": "off"
    },
    "globals": {
      "chai": true,
      "expect": true,
      "sinon": true
    },
}
